<h1>ジム・岩場一覧</h1>

<% @spots.each do |spot| %>
    <%= link_to spot.name, spot.becomes(Spot) %><br>
<% end %>

-----------------------------------<br>
<%= link_to 'ジム・岩場を新規登録する', new_spot_path %><br>

<%= link_to 'ユーザートップに戻る', user_path(session[:user_id]) %>
