<h4>行ってきたジム・岩場はどこですか？</h4>

<% @spots.each do |spot| %>
    <%= link_to spot.name, spot.becomes(Spot) %><br>
<% end %>

-----------------------------------<br>
<%= link_to 'ジム・岩場を新規登録する', new_spot_path %><br>
