/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 
 *= require bxslider
 *= require_tree .
 *= require_self
 */
 
header {
  position: relative;
  width: 100%;
  background-color: #fff;
}

header img {
  width: 40%;
  margin: 6px 30% 6px ;
}

header .menu.fixed {
  position: fixed;
  top: 0;
}

header .menu {
  position: absolute;
  width: 100%;

  padding: 3px 0 0px;
  background-color: #fff;
  z-index: 99;
  margin:0;
}

header .menu ul {
  width: 100%;
  padding: 0;
  display: table;
  table-layout: fixed;
  margin: 0;
} 

header .menu ul li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

header .menu ul li a {
  text-decoration: none;
  color: #000;
}

header .menu ul li .icon {
  font-size: 10vw;
}

#container {
  background-color: #fff;
  padding-top: 50px;
  width: 100%;
}

.inner-container {
  /*display: inline-block;*/
  width: 90%;
  margin: 0 auto 0;
}

h3 {
  margin: 0;
}

@media screen and (min-width:400px) {

  body {
    background-color: #f5f5f5;
  }

  header {
    width: 400px;
    margin: 0 auto 0;
  }

  header .menu.fixed {
    left:calc((100% - 400px)/2);
    right:calc((100% - 400px)/2);
  }

  header .menu {
    width: 400px;
  }

  #container {
    width: 400px;
    margin:0 auto 0;
  }
  
  header .menu ul li .icon {
    font-size:40px;
  }
}